/*////////////// Fonts //////////////*/

@font-face {
  font-family: Baskerville;
  src: url('../fonts/Baskerville.ttc');
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
  font-family: 'Baskerville', serif;
  color: rgb(153, 173, 166);
}

h2 {
  color: rgb(112, 127, 122);
}

p {
  color: rgb(85, 85, 85);
}

